<%- include('../layout/header') %>
<style>
  body {
    background-color:  rgba(67, 159, 159, 0.315);; 

    /* review related style items */

    
/* Hide the radio buttons */
input[type="radio"] {
  display: none;
}

/* Style the star labels */
.star-box-wrap .star {
  font-size: 24px;
  color: #ccc; /* Default star color */
  cursor: pointer;
}

/* Change star color on hover */
.star-box-wrap .star:hover,
.star-box-wrap .star:hover ~ .star {
  color: #ffcc00;
}

/* Change star color when selected */
input[type="radio"]:checked ~ .star {
  color: #ffcc00;
}

/* Ensure previous stars are colored when one is selected */
input[type="radio"]:checked + label ~ label {
  color: #ffcc00;
}

  }
</style>
<!-- search start -->
<div class="search-content-wrap main-search-active">
  <a class="search-close"><i class="dlicon ui-1_simple-remove"></i></a>
  <div class="search-content">
    <p>Start typing and press Enter to search</p>
    <form class="search-form" action="#">
      <input type="text" placeholder="Search" />
      <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
    </form>
  </div>
</div>
<!-- mini cart start -->
<div class="sidebar-cart-active">
  <div class="sidebar-cart-all">
    <a class="cart-close" href="#"><i class="dlicon ui-1_simple-remove"></i></a>
    <div class="cart-content">
      <h3>Shopping Cart</h3>
      <ul>
        <% if (cartData && cartData.items && cartData.items.length > 0) { %> 
          <% for (let i = 0; i < cartData.items.length; i++) { %>
            <li class="single-product-cart">
              <div class="cart-img">
                <a href="#"><img src="/productImages/<%= cartData.items[i].productId.images[1] %>" alt="" /></a>
              </div>
              <div class="cart-title">
                <h4><a href="#"><%= cartData.items[i].productId.name %></a></h4>
                <span><%= cartData.items[i].price %></span>
              </div>
              <div class="cart-delete">
                <a href="#">×</a>
              </div>
            </li>
          <% } %>
        <% } %>
      </ul>
      <div class="cart-total">
      </div>
      <div class="cart-checkout-btn">
        <a class="btn-hover cart-btn-style" href="/cart">view cart</a>
        <a class="no-mrg btn-hover cart-btn-style" href="/checkout">checkout</a>
      </div>
    </div>
  </div>
</div>
<!-- aside start -->
<div class="header-aside-active">
  <div class="header-aside-wrap">
    <a class="aside-close"><i class="dlicon ui-1_simple-remove"></i></a>
    <div class="header-aside-content">
      <div class="mobile-menu-area">
        <div class="mobile-search">
          <form class="search-form" action="#">
            <input type="text" placeholder="Search entire store…" />
            <button class="button-search">
              <i class="dlicon ui-1_zoom"></i>
            </button>
          </form>
        </div>
        <div class="mobile-menu-wrap">
          <!-- mobile menu start -->
          <div class="mobile-navigation">
            <!-- mobile menu navigation start -->
            <nav>
              <ul class="mobile-menu">
                <li class="menu-item-has-children">
                  <a href="/">Home</a>
                  
                    
            <!-- mobile menu navigation end -->
          </div>
          <!-- mobile menu end -->
        </div>
        <div class="mobile-curr-lang-wrap">
          <div class="single-mobile-curr-lang">
            <a class="mobile-language-active" href="#"
              >Language <i class="fa fa-angle-down"></i
            ></a>
            <div class="lang-curr-dropdown lang-dropdown-active">
              <ul>
                <li><a href="#">English (US)</a></li>
                <li><a href="#">English (UK)</a></li>
                <li><a href="#">Spanish</a></li>
              </ul>
            </div>
          </div>
          <div class="single-mobile-curr-lang">
            <a class="mobile-currency-active" href="#"
              >Currency <i class="fa fa-angle-down"></i
            ></a>
            <div class="lang-curr-dropdown curr-dropdown-active">
              <ul>
                <li><a href="#">USD</a></li>
                <li><a href="#">EUR</a></li>
                <li><a href="#">Real</a></li>
                <li><a href="#">BDT</a></li>
              </ul>
            </div>
          </div>
          <div class="single-mobile-curr-lang">
            <a class="mobile-account-active" href="#"
              >My Account <i class="fa fa-angle-down"></i
            ></a>
            <div class="lang-curr-dropdown account-dropdown-active">
              <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Creat Account</a></li>
                <li><a href="my-account.html">My Account</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header-aside-menu">
        <nav>
          <ul>
            <li><a href="#">About Toro</a></li>
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">New Look</a></li>
          </ul>
        </nav>
      </div>
      <img src="assets/images/icon-img/payments.png" alt="payment" />
      <p>
        Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi
        aliquet, sit amet fermentum justo dapibus.
      </p>
      <div class="aside-contact-info">
        <ul>
          <li>
            <i class="dlicon ui-2_time-clock"></i>Monday - Friday: 9:00 - 19:00
          </li>
          <li><i class="dlicon ui-1_email-84"></i>Info@la-studioweb.com</li>
          <li><i class="dlicon tech-2_rotate"></i>(+55) 254. 254. 254</li>
          <li>
            <i class="dlicon ui-1_home-minimal"></i>Helios Tower 75 Tam Trinh
            Hoang - Ha Noi - Viet Nam
          </li>
        </ul>
      </div>
      <div class="social-icon-style mb-25">
        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
        <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
        <a class="behance" href="#"><i class="fa fa-behance"></i></a>
      </div>
      <div class="copyright">
        <p>
          © 2021 <a href="https://hasthemes.com/">Toro.</a> All rights reserved
        </p>
      </div>
    </div>
  </div>
</div>
<div class="breadcrumb-area border-top-3 section-padding-1 breadcrumb-ptb-3">
  <div class="container-fluid">
    <div class="breadcrumb-content breadcrumb-font-inc">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li><span> > </span></li>
        <li>
          <a href="/shop">Shop</a> 
        </li>
        <li><span> > </span></li>
        <li class="active"><%=product.name %>></li>
      </ul>
    </div>
  </div>
</div>
<div class="product-details-area section-padding-1 pb-90">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="product-details-tab">
          <div class="product-dec-right pro-dec-big-img-slider">
            <% for(i=0 ;i < product.images.length ;i++){ %>
                <div class="easyzoom-style">
                    <div class="easyzoom easyzoom--overlay">
                        <a href="/productImages/<%= product.images[i] %>">
                            <img src="/productImages/<%= product.images[i] %>" alt="" />
                        </a>
                    </div>
                    <a class="easyzoom-pop-up img-popup" href="/productImages/<%= product.images[i] %>"><i
                            class="dlicon ui-1_zoom-in"></i></a>
                </div>
                <% } %>         
          </div>
          <div class="product-dec-slider product-dec-left">
            <div class="product-dec-small active">
              <img src="/productImages/<%= product.images[0] %>" alt="" />
            </div>
             <% for(i=1 ;i < product.images.length ;i++){ %>
                <div class="product-dec-small">
                    <img src="/productImages/<%= product.images[i] %>" alt="" />
                  </div>
            <% } %>
            
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="product-details-col-72">
            <div class="product-details-content p-dec-content-edit"> 
              <h2 class="uppercase"><%= product.name %> </h2>
              <div>
                <% if (product.stock < 15) { %>
                  <span style="color: red;">Hurry! Limited stock available. Order now before it's gone!</span>
              <% }else if(product.stock === 0 ) { %>
                <span style="color: red; ">Sorry, this item is currently out of stock.</span>
                <% } %>


              

            </div>
              <div class="product-details-ratting-wrap">
                <div class="product-details-ratting">
                  <i class="yellow fa fa-star"></i>
                  <i class="yellow fa fa-star"></i>
                  <i class="yellow fa fa-star"></i>
                  <i class="yellow fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <a href="#"> (1 customer review)</a>
              </div>
              <h3> ₹ <%= product.discountPrice %></h3>
              <div class="product-details-peragraph">
                <%= product.description %>
              </div>
              <div class="pro-details-group">
                
                <div class="single-group">
                
                  <div class="pro-dec-title-stock">
                    <div class="pro-dec-title">
                      <h4><a href="#"><%= product.name %></a></h4>
                    </div>
                    <div class="pro-dec-price-stock">
                      <span class="old-price" style="font-weight: bold;">₹ <%= product.price %></span>
                      <br>
                      <span style="font-weight: bold;"> ₹ <%= product.discountPrice %></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-details-action-wrap">
                <div class="product-details-cart product-dec-cart-mrg-none">
                  <a title="Add to cart" href="/addCart?id=<%= product._id %>"  > <i class="fa fa-cart"></i>Add to cart</a>
                </div>
                <div class="product-details-wishlist">
                  <form action="/addWishlist" method="POST">
                    <input type="hidden" name="productId" value="<%= product._id %>">
                    <button type="submit" title="Add to wishlist">
                      <i class="fa fa-heart"></i>
                    </button>
                  </form>
                </div>
                
                <div class="product-details-compare">
                  <a title="Add to compare" href="#"
                    ><i class="dlicon arrows-4_compare"></i
                  ></a>
                </div>
              </div>
              <div class="product-details-info">
                <a href="#"
                  ><i class="dlicon location_pin"></i>Store availability</a
                >
                <a href="#"
                  ><i class="dlicon envir_car"></i>Delivery and return</a
                >
                
              </div>
              <div class="product-details-meta">
                <span>SKU: REF. LA-140</span>
                <span
                  >Categories: <a href="#">Fashions</a>,
                  <a href="#">Main 01</a>, <a href="#">Main 02</a></span
                >
                <span
                  >Tags: <a href="#">Blazer</a>, <a href="#">chair</a>,
                  <a href="#">Coat</a>, <a href="#">dress</a>,
                  <a href="#">light</a>, <a href="#">Living</a>,
                  <a href="#">Main 01</a></span
                >
              </div>
              <div class="social-icon-style-3">
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                <a class="pinterest" href="#"
                  ><i class="fa fa-pinterest-p"></i
                ></a>
                <a class="google-plus" href="#"
                  ><i class="fa fa-google-plus"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="description-review-area section-padding-7 pb-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="description-review-wrapper">
          <div class="description-review-topbar nav">
            <a class="active" data-bs-toggle="tab" href="#des-details1"
              >Description</a
            >
            <a data-bs-toggle="tab" href="#des-details2"
              >Additional information</a
            >
            <a data-bs-toggle="tab" href="#des-details3">Reviews (1)</a>
            <a data-bs-toggle="tab" href="#des-details4"> Brands</a>
            <a data-bs-toggle="tab" href="#des-details5">Shipping & Delivery</a>
          </div>
          <div class="tab-content description-review-bottom">
            <div id="des-details1" class="tab-pane active">
              <div class="product-description-wrapper">
                <div class="row">
                  <div class="product-dec-col-38">
                    <div class="pro-details-banner">
                      <a
                        class="video-popup"
                        href="https://www.ikea.com/pvid/1064929_fe001581.mp4?imwidth=800"
                        ><img
                          src="https://www.ikea.com/pvid/1064929_fe001581.jpg?f=m"
                          alt=""
                      /></a>
                    </div>
                  </div>
                  <div class="product-dec-col-62">
                    <div class="product-dec-content">
                     
                      <ul>
                        <li>
                            <%= product.description %>
                          </li>
                        <li>
                           <%= spanish %>
                        </li>
                        <li>
                            <%= arabic %>
                        </li>
                      </ul>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="des-details2" class="tab-pane">
              <div class="additional-info">
                <ul>
                  <li><span>Size</span>L, S, XL, XXL</li>
                  <li>
                    <span>Brands</span>Airi, Draven, Mango, Valentino, Zara
                  </li>
                  <li>
                    <span>Color</span> Blue, Brown, Green, Pink, Violet, White
                  </li>
                </ul>
              </div>
            </div>
            <div id="des-details3" class="tab-pane">
              <div class="review-wrapper">
                <% for(let i =0;i< review.length ;i++){%>
                <div class="single-review">
                  <div class="review-img">
                    <img
                      src="assets/images/product-details/client-1.jpg"
                      alt=""
                    />
                  </div>
                 
                  <div class="review-content">
                    <div class="review-top-wrap">
                      <div class="review-name">
                        <h5><span><%= review[i].user.name %></span> - March 14, 2023</h5>
                      </div>
                      <div class="review-rating">
                        <% for(let j=0;j< review[i].rating;j++){%>
                        <i class="yellow fa fa-star"></i>
                        <%}%>
                      </div>
                     
                    </div>
                    <p>
                      <%= review[i].reviewText %>
                    </p>
                  </div>
                 
                </div>
                <%}%>
              </div>
              <div class="ratting-form">
                <form>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="star-box-wrap">
                        <!-- 1 Star -->
                        <input type="radio" id="star1" name="rating" value="1">
                        <label for="star1" class="star">
                          <i class="fa fa-star"></i>
                        </label>
              
                        <!-- 2 Stars -->
                        <input type="radio" id="star2" name="rating" value="2">
                        <label for="star2" class="star">
                          <i class="fa fa-star"></i>
                        </label>
              
                        <!-- 3 Stars -->
                        <input type="radio" id="star3" name="rating" value="3">
                        <label for="star3" class="star">
                          <i class="fa fa-star"></i>
                        </label>
              
                        <!-- 4 Stars -->
                        <input type="radio" id="star4" name="rating" value="4">
                        <label for="star4" class="star">
                          <i class="fa fa-star"></i>
                        </label>
              
                        <!-- 5 Stars -->
                        <input type="radio" id="star5" name="rating" value="5">
                        <label for="star5" class="star">
                          <i class="fa fa-star"></i>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="rating-form-style mb-20">
                        <label>Your review <span>*</span></label>
                        <textarea name="review" id="comment-review-text"></textarea>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <input type="hidden" id="productId" value="<%= product._id %>" name="Id">
                      <div class="form-submit">
                        <input type="button" value="Submit" id="submit-review">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              
              
            </div>
            <div id="des-details4" class="tab-pane">
              <div class="pro-dec-brand-wrap">
                <div class="row">
                  <div class="ms-auto me-auto col-lg-10">
                    <div class="row align-items-center">
                      <div class="col-lg-4 col-md-6 col-sm-5">
                        <div class="pro-dec-brand-img text-center">
                          <img
                            src="assets/images/brand-logo/brand-logo-7.png"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-6 col-sm-7">
                        <div class="pro-dec-brand-content">
                          <p>
                            Donec accumsan auctor iaculis. Sed suscipit arcu
                            ligula, at egestas magna molestie a. Proin ac ex
                            maximus, ultrices justo eget, sodales orci. Aliquam
                            egestas libero ac turpis pharetra, in vehicula lacus
                            scelerisque. Vestibulum ut sem laoreet, feugiat
                            tellus at, hendrerit arcu..
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="des-details5" class="tab-pane">
              <div class="about-shiping-content">
                <p>
                  Nunc lacus elit, faucibus ac laoreet sed, dapibus ac mi.
                  Maecenas eu ante a elit tempus fermentum. Aliquam commodo
                  tincidunt semper. Phasellus accumsan, justo ac mollis
                  pharetra, ex dui pharetra nisl, a scelerisque ipsum nulla ac
                  sem. Cras eu risus urna. Duis lorem sapien, congue eget nisl
                  sit amet, rutrum faucibus elit.
                </p>
                <p>
                  Donec accumsan auctor iaculis. Sed suscipit arcu ligula, at
                  egestas magna molestie a. Proin ac ex maximus, ultrices justo
                  eget, sodales orci. Aliquam egestas libero ac turpis pharetra,
                  in vehicula lacus scelerisque. Vestibulum ut sem laoreet,
                  feugiat tellus at, hendrerit arcu.
                </p>
                <p>
                  Nunc lacus elit, faucibus ac laoreet sed, dapibus ac mi.
                  Maecenas eu ante a elit tempus fermentum. Aliquam commodo
                  tincidunt semper. Phasellus accumsan, justo ac mollis
                  pharetra, ex dui pharetra nisl, a scelerisque ipsum nulla ac
                  sem. Cras eu risus urna. Duis lorem sapien, congue eget nisl
                  sit amet, rutrum faucibus elit.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="small-device-area d-block d-md-none">
  <div class="container-fluid">
    <div class="pro-dec-small-device">
      <div class="pro-details-sidebar-active slider-nav-style-3 owl-carousel">
        <div class="single-pro-details-sidebar">
          <a href="#"
            ><img
              src="assets/images/product-details/pro-details-sidebar-1.jpg"
              alt=""
          /></a>
          <div class="pro-details-sidebar-content">
            <h4>
              <a href="#">NEW <br />LONDON</a>
            </h4>
            <p>Off 20% for all</p>
          </div>
        </div>
        <div class="single-pro-details-sidebar">
          <a href="#"
            ><img
              src="assets/images/product-details/pro-details-sidebar-2.jpg"
              alt=""
          /></a>
          <div class="pro-details-sidebar-content">
            <h4>
              <a href="#">NEW <br />LONDON</a>
            </h4>
            <p>Off 20% for all</p>
          </div>
        </div>
      </div>
      <div class="sidebar-subscribe-wrap">
        <div class="sidebar-subscribe-content text-center">
          <i class="dlicon ui-1_email-84"></i>
          <h5>Join Our Newsletter</h5>
          <p>Sale up to 20% off for your next purchase in this month!</p>
        </div>
        <div class="sidebar-subscribe-form">
          <form
            class="validate subscribe-form-style"
            novalidate=""
            target="_blank"
            name="mc-embedded-subscribe-form"
            method="post"
            action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
          >
            <div class="mc-form">
              <input
                class="email"
                type="email"
                required=""
                placeholder=" email address…"
                name="EMAIL"
                value=""
              />
              <div class="mc-news" aria-hidden="true">
                <input
                  type="text"
                  value=""
                  tabindex="-1"
                  name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef"
                />
              </div>
              <div class="clear">
                <input
                  class="button"
                  type="submit"
                  name="subscribe"
                  value="Subscribe"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="related-product-area section-padding-1 pb-95">
  <div class="container-fluid">
    <div class="section-title-6 mb-50">
      <h2>Related Products</h2>
    </div>
    <div class="related-product-active owl-carousel">

      <% if(similar.length > 0){%>
        <% for (let i=0; i < similar.length; i++) { %>



      <div class="product-wrap border">
        <div class="product-img default-overlay mb-25">
          <a href="product-details.html">
            <img
              class="default-img"
              src="/productImages/<%= similar[i].images[0]%>"
              alt=""
            />
            <img
              class="hover-img"
              src="productImages/<%= similar[i].images[1]%>"
              alt=""
            />
          </a>
          <div class="product-action product-action-position-1">
            <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
              ><i class="fa fa-eye"></i><span>Quick Shop</span></a
            >
            <a title="Add to Wishlist" href="#"
              ><i class="fa fa-heart"></i><span>Add to Wishlist</span></a
            >
            <a class="icon-blod" title="Add to Compare" href="#"
              ><i class="dlicon arrows-4_compare"></i
              ><span>Add to Compare</span></a
            >
            <a title="Add to Cart" href="#"
              ><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></a
            >
          </div>
        </div>
        <div class="product-content-2 title-font-width-400 text-center">
          <h3><a href="product-details.html"><%= similar[i].name %></a></h3>
          <div class="product-price">
            <span class="new-price">₹ <%= similar[i].price %></span>
          </div>
        </div>
      </div>
    
      <% } %>
      <% } else { %>
        <h1>no related products</h1>
        <% } %>
    </div>
  </div>
</div>

<%- include('../layout/footer') %>
<script>
  document.getElementById('submit-review').addEventListener("click", async () => {
      console.log("Entered");
  
      // Get the values from the form inputs
      const productId = document.getElementById('productId').value;
      const reviewText = document.getElementById('comment-review-text').value;
  
      // Get the selected rating value
      const ratingElements = document.getElementsByName('rating');
      let rating;
      for (const element of ratingElements) {
          if (element.checked) {
              rating = element.value;
              break;
          }
      }
  console.log(rating, reviewText, productId ,"gurywseyerw")
      // Create an object to hold the data
      const reviewData = { rating, reviewText, productId };
      console.log(reviewData);
  
      // Send the data in the body of a POST request
      try {
          const response = await fetch('/review', {
              method: "POST",
              headers: {
                  'Content-Type': "application/json"
              },
              body: JSON.stringify(reviewData)
          });
  
          if (response.ok) {
              Swal.fire({
                  title:"Success",
                  text:"Review Submitted Successfully",
                  icon:"Success",
                  showConfirmButton:"Ok"
              }).then(()=>{
                  window.location.reload()
              })
          } else {
              Swal.fire({
                  title:"Error",
                  text:"Something went wrong",
                  icon:"error",
                  showConfirmButton:"Ok"
              })  
          }
      } catch (error) {
          Swal.fire({
                  title:"Error",
                  text:"Internal Server Error",
                  icon:"error",
                  showConfirmButton:"Ok"
              })  
          console.error('Error:', error);
      }
  });
  </script>

