<%- include('../layout/header') %>
<style>
  body {
    background-color:  rgba(67, 159, 159, 0.315);; 
  }
</style>
<!-- search start -->
<div class="search-content-wrap main-search-active">
  <a class="search-close"><i class="dlicon ui-1_simple-remove"></i></a>
  <div class="search-content">
    <p>Start typing and press Enter to search</p>
    <form class="search-form" action="#">
      <input type="text" placeholder="Search" />
      <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
    </form>
  </div>
</div>
<!-- mini cart start -->
<div class="sidebar-cart-active">
  <div class="sidebar-cart-all">
    <a class="cart-close" href="#"><i class="dlicon ui-1_simple-remove"></i></a>
    <div class="cart-content">
      <h3>Shopping Cart</h3>
      <ul>
        <% if (cartProduct && cartProduct.items && cartProduct.items.length > 0) { %> 
          <% for (let i = 0; i < cartProduct.items.length; i++) { %>
            <li class="single-product-cart">
              <div class="cart-img">
                <a href="#"><img src="/productImages/<%= cartProduct.items[i].productId.images[1] %>" alt="" /></a>
              </div>
              <div class="cart-title">
                <h4><a href="#"><%= cartProduct.items[i].productId.name %></a></h4>
                <span><%= cartProduct.items[i].price %></span>
              </div>
              <div class="cart-delete">
                <a href="#">×</a>
              </div>
            </li>
          <% } %>
        <% } %>
      </ul>
      <div class="cart-total">
      </div>
      <div class="cart-checkout-btn">
        <a class="btn-hover cart-btn-style" href="/cart">view cart</a>
        <a class="no-mrg btn-hover cart-btn-style" href="/checkout">checkout</a>
      </div>
    </div>
  </div>
</div>
<!-- aside start -->
<div class="header-aside-active">
  <div class="header-aside-wrap">
    <a class="aside-close"><i class="dlicon ui-1_simple-remove"></i></a>
    <div class="header-aside-content">
      <div class="mobile-menu-area">
        <div class="mobile-search">
          <form class="search-form" action="#">
            <input type="text" placeholder="Search entire store…" />
            <button class="button-search">
              <i class="dlicon ui-1_zoom"></i>
            </button>
          </form>
        </div>

        <div class="mobile-curr-lang-wrap">
          <div class="single-mobile-curr-lang">
            <a class="mobile-language-active" href="#"
              >Language <i class="fa fa-angle-down"></i
            ></a>
            <div class="lang-curr-dropdown lang-dropdown-active">
              <ul>
                <li><a href="#">English (US)</a></li>
                <li><a href="#">English (UK)</a></li>
                <li><a href="#">Spanish</a></li>
              </ul>
            </div>
          </div>
          <div class="single-mobile-curr-lang">
            <a class="mobile-currency-active" href="#"
              >Currency <i class="fa fa-angle-down"></i
            ></a>
            <div class="lang-curr-dropdown curr-dropdown-active">
              <ul>
                <li><a href="#">USD</a></li>
                <li><a href="#">EUR</a></li>
                <li><a href="#">Real</a></li>
                <li><a href="#">BDT</a></li>
              </ul>
            </div>
          </div>
          <div class="single-mobile-curr-lang">
            <a class="mobile-account-active" href="#"
              >My Account <i class="fa fa-angle-down"></i
            ></a>
            <div class="lang-curr-dropdown account-dropdown-active">
              <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Creat Account</a></li>
                <li><a href="my-account.html">My Account</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header-aside-menu">
        <nav>
          <ul>
            <li><a href="#">About Toro</a></li>
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">New Look</a></li>
          </ul>
        </nav>
      </div>
      <img src="assets/images/icon-img/payments.png" alt="payment" />
      <p>
        Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi
        aliquet, sit amet fermentum justo dapibus.
      </p>
      <div class="aside-contact-info">
        <ul>
          <li>
            <i class="dlicon ui-2_time-clock"></i>Monday - Friday: 9:00 - 19:00
          </li>
          <li><i class="dlicon ui-1_email-84"></i>Info@la-studioweb.com</li>
          <li><i class="dlicon tech-2_rotate"></i>(+55) 254. 254. 254</li>
          <li>
            <i class="dlicon ui-1_home-minimal"></i>Helios Tower 75 Tam Trinh
            Hoang - Ha Noi - Viet Nam
          </li>
        </ul>
      </div>
      <div class="social-icon-style mb-25">
        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
        <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
        <a class="behance" href="#"><i class="fa fa-behance"></i></a>
      </div>
      <div class="copyright">
        <p>
          © 2021 <a href="https://hasthemes.com/">Toro.</a> All rights reserved
        </p>
      </div>
    </div>
  </div>
</div>
<div class="breadcrumb-area ">
  <div class="container-fluid">
    <div class="breadcrumb-content text-center">
      <div class="breadcrumb-title">
        <h2>My Account</h2>
      </div>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li><span> &gt; </span></li>
        <li class="active">My Account</li>
      </ul>
    </div>
  </div>
</div>
<div class="my-account-area pt-100 pb-95">
  <div class="container">
    <div class="row flex-row-reverse">
      <div class="col-lg-12">
        <div class="myaccount-tab-menu nav" role="tablist">
          <a href="#dashboad" class="active" data-bs-toggle="tab"> Dashboard</a>
          <a href="#orders" data-bs-toggle="tab"> Orders</a>
          <a href="#download" data-bs-toggle="tab"> wallet</a>
          <a href="#address-edit" data-bs-toggle="tab"> address</a>
          <a href="#account-info" data-bs-toggle="tab"> Account Details</a>
          <a href="/logout"> Logout</a>
        </div>
        <!-- My Account Tab Menu End -->
        <!-- My Account Tab Content Start -->
        <div class="tab-content" id="myaccountContent">
          <!-- Single Tab Content Start -->
          <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
            <div class="myaccount-content">
              <div class="welcome">
                <p>
                  Hello, <strong><%=user.name %></strong> (If Not
                  <strong><%=user.name %></strong
                  ><a href="/logout" class="logout"> Logout</a>)
                </p>
              </div>

              <p class="mb-0">
                From your account dashboard. you can view your recent orders,
                manage your shipping and billing addresses and edit your
                password and account details.
              </p>
            </div>
          </div>
          <!-- Single Tab Content End -->
          <!-- Single Tab Content Start -->
          <div class="tab-pane fade" id="orders" role="tabpanel">
            <div class="myaccount-content">
              <div class="myaccount-cards row">
                <% orders.forEach((order, index) => { %>
                  <% order.items.forEach(item => { %>
                    <div class="col-md-6 col-lg-4 mb-4">
                      <div class="card" style="width: 18rem">
                        <img
                          src="/productImages/<%= item.image %>"
                          class="card-img-top"
                          alt="Product Image"
                          style="height: 150px; object-fit: cover"
                        />
                        <div
                          class="card-body d-flex flex-column justify-content-center text-center"
                        >
                          <h5 class="card-title" style="font-weight: bold">
                            <%= item.productId ? item.productId.name : 'Product name not available' %>
                          </h5>
                          <p class="card-text">
                            Date: <%= new Date(order.createdAt).toDateString() %>
                          </p>
                          <p class="card-text">Status: <%= order.status %></p>
                          <p class="card-text">Total: <%= order.billTotal %></p>
                          <a
                            href="/orderView?id=<%= order._id %>"
                            class="btn btn-danger btn-sm"
                            >View Order</a
                          >
                        </div>
                      </div>
                    </div>
                  <% }); %>
                <% }); %>
              </div>
              
            </div>
          </div>

          <!-- Single Tab Content End -->
          <!-- Single Tab Content Start -->
          <div class="tab-pane fade" id="download" role="tabpanel">
            <div class="myaccount-content">
              <div class="myaccount-table table-responsive text-center">
                <table class="table table-bordered">
                  <thead class="thead-light">
                    <tr>
                      <th>Date</th>
                      <th>orderId</th>
                      <th>status</th>
                      <th>amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (wallet !== null && wallet !== undefined && wallet.orders && wallet.orders.length > 0) { %>
                        <% for (let i = 0; i < wallet.orders.length; i++) { %>
                            <tr>
                                <td><%= new Date(wallet.orders[i].updatedAt).toLocaleDateString() %></td>
                                <td><a href="/orderView?id=<%= orders[i]._id %>"><%= wallet.orders[i]._id %></a> </td>
                                
                                <td>
                                    <% if (wallet.orders[i].status === 'Canceled' || wallet.orders[i].status === 'Returned') { %>
                                        <span class="success">Refund</span>
                                    <% } else { %>
                                        <span class="success">Debit</span>
                                    <% } %>
                                </td>
                                <td>₹ <%= wallet.orders[i].billTotal %></td>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td colspan="4">No orderss found.</td>
                        </tr>
                    <% } %>
                </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Single Tab Content Start -->
          <div class="tab-pane fade" id="address-edit" role="tabpanel">
            <div class="myaccount-content">
              <p><strong><%= user.name %></strong></p>
              <% if (addresses.length > 0) { %> <%
              addresses.forEach(function(address, index) { %>
              <div class="address-item">
                <address>
                  <p>
                    <%= address.addressType %> <br />
                    <%= address.name %>, <%= address.houseNo %>,<br />
                    <%= address.city %>, <%= address.state %>,
                    <br />
                    Mobile: <%= address.mobile %>
                  </p>
                </address>
                <a
                  onclick="toggleEditForm('<%= address._id %>')"
                  class="check-btn sqr-btn"
                >
                  <i class="fa fa-edit"></i> Edit Address
                </a>
                <br /><br />
                <div
                  id="edit-form-<%= address._id %>"
                  class="edit-form"
                  style="display: none"
                >
                  <form
                    action="/editAddress?id=<%= address._id %>"
                    method="post"
                  >
                    <div class="form-group">
                      <label for="houseNo">House No</label>
                      <input
                        type="text"
                        name="houseNo"
                        value="<%= address.houseNo %>"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group">
                      <label for="addressType">Address Type</label>
                      <input
                        type="text"
                        name="addressType"
                        value="<%= address.addressType %>"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group">
                      <label for="street">Street</label>
                      <input
                        type="text"
                        name="street"
                        value="<%= address.street %>"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group">
                      <label for="landmark">Landmark</label>
                      <input
                        type="text"
                        name="landmark"
                        value="<%= address.landmark %>"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group">
                      <label for="pincode">Pincode</label>
                      <input
                        type="text"
                        name="pincode"
                        value="<%= address.pincode %>"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group">
                      <label for="city">City</label>
                      <input
                        type="text"
                        name="city"
                        value="<%= address.city %>"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group">
                      <label for="state">State</label>
                      <input
                        type="text"
                        name="state"
                        value="<%= address.state %>"
                        class="form-control"
                      />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button
                      type="button"
                      onclick="toggleEditForm('<%= address._id %>')"
                      class="btn btn-secondary"
                    >
                      Cancel
                    </button>
                  </form>
                </div>
                <hr style="color: #ffff" />
              </div>
              <% }); %> <% } else { %>
              <p>No addresses found.</p>
              <% } %>
            </div>
            <br />
            <a href="/addAddress" class="check-btn sqr-btn">
              <i class="fa fa-edit"></i> Add New Address
            </a>
          </div>

          <!-- Single Tab Content End -->
          <!-- Single Tab Content Start -->
          <div class="tab-pane fade" id="account-info" role="tabpanel">
            <div class="myaccount-content">
              <div class="account-details-form">
                <form action="#">
                  <div class="row"></div>
                  <div class="single-input-item">
                    <label for="display-name" class="required"
                      >Name <span>*</span></label
                    >
                    <input
                      value="<%=user.name %>"
                      type="text"
                      id="display-name"
                    />
                  </div>

                  <div class="single-input-item">
                    <label for="email" class="required"
                      >Email Addres <span>*</span></label
                    >
                    <input value="<%=user.email %>" type="email" id="email" />
                  </div>

                  <div class="single-input-item">
                    <label for="display-number" class="required"
                      >Mobile <span>*</span></label
                    >
                    <input
                      value="<%=user.mobile %>"
                      type="text"
                      id="display-mobile"
                    />
                  </div>

                  <fieldset>
                    <legend>Password change</legend>
                    <div class="single-input-item">
                      <label for="current-pwd" class="required"
                        >Current password (leave blank to leave
                        unchanged)</label
                      >
                      <input type="password" id="current-pwd" />
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="single-input-item">
                          <label for="new-pwd" class="required"
                            >New password (leave blank to leave
                            unchanged)</label
                          >
                          <input type="password" id="new-pwd" />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="single-input-item">
                          <label for="confirm-pwd" class="required"
                            >Confirm new password</label
                          >
                          <input type="password" id="confirm-pwd" />
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <div class="single-input-item">
                    <button class="check-btn sqr-btn">Save Changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Single Tab Content End -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- script of edit form -->
<script>
  function toggleEditForm(id) {
    var form = document.getElementById("edit-form-" + id);
    if (form.style.display === "none") {
      form.style.display = "block";
    } else {
      form.style.display = "none";
    }
  }
</script>

<%- include('../layout/footer') %>
