<%- include ('../layout/header') %>
<style>
  body {
    background-color: rgba(67, 159, 159, 0.315);
  }
</style>
<!-- search start -->

<!-- mini cart start -->
<div class="sidebar-cart-active">
  <div class="sidebar-cart-all">
    <a class="cart-close" href="#"><i class="dlicon ui-1_simple-remove"></i></a>
    <div class="cart-content">
      <h3>Shopping Cart</h3>
      <ul>
        <% if (cartProduct && cartProduct.items && cartProduct.items.length > 0)
        { %> <% for (let i = 0; i < cartProduct.items.length; i++) { %>
        <li class="single-product-cart">
          <div class="cart-img">
            <a href="#"
              ><img
                src="/productImages/<%= cartProduct.items[i].productId.images[1] %>"
                alt=""
            /></a>
          </div>
          <div class="cart-title">
            <h4><a href="#"><%= cartProduct.items[i].productId.name %></a></h4>
            <span><%= cartProduct.items[i].price %></span>
          </div>
          <div class="cart-delete">
            <a href="#">×</a>
          </div>
        </li>
        <% } %> <% } %>
      </ul>
      <div class="cart-total"></div>
      <div class="cart-checkout-btn">
        <a class="btn-hover cart-btn-style" href="/cart">view cart</a>
        <a class="no-mrg btn-hover cart-btn-style" href="/checkout">checkout</a>
      </div>
    </div>
  </div>
</div>
<!-- aside start -->
<div class="header-aside-active">
  <div class="header-aside-wrap">
    <a class="aside-close"><i class="dlicon ui-1_simple-remove"></i></a>
    <div class="header-aside-content">
      <div class="mobile-menu-area">
        <div class="mobile-search">
          <form class="search-form" action="/search" method="GET">
            <input
              type="text"
              name="query"
              placeholder="Search entire store…"
            />
            <button class="button-search">
              <i class="dlicon ui-1_zoom"></i>
            </button>
          </form>
        </div>
        <div class="mobile-curr-lang-wrap">
          <div class="single-mobile-curr-lang">
            <a class="mobile-language-active" href="#"
              >Language <i class="fa fa-angle-down"></i
            ></a>
            <div class="lang-curr-dropdown lang-dropdown-active">
              <ul>
                <li><a href="#">English (US)</a></li>
                <li><a href="#">English (UK)</a></li>
                <li><a href="#">Spanish</a></li>
              </ul>
            </div>
          </div>
          <div class="single-mobile-curr-lang">
            <a class="mobile-currency-active" href="#"
              >Currency <i class="fa fa-angle-down"></i
            ></a>
            <div class="lang-curr-dropdown curr-dropdown-active">
              <ul>
                <li><a href="#">USD</a></li>
                <li><a href="#">EUR</a></li>
                <li><a href="#">Real</a></li>
                <li><a href="#">BDT</a></li>
              </ul>
            </div>
          </div>
          <div class="single-mobile-curr-lang">
            <a class="mobile-account-active" href="#"
              >My Account <i class="fa fa-angle-down"></i
            ></a>
            <div class="lang-curr-dropdown account-dropdown-active">
              <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Create Account</a></li>
                <li><a href="my-account.html">My Account</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header-aside-menu">
        <nav>
          <ul>
            <li><a href="#">About Toro</a></li>
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">New Look</a></li>
          </ul>
        </nav>
      </div>
      <img src="assets/images/icon-img/payments.png" alt="payment" />
      <p>
        Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi
        aliquet, sit amet fermentum justo dapibus.
      </p>
      <div class="aside-contact-info">
        <ul>
          <li>
            <i class="dlicon ui-2_time-clock"></i>Monday - Friday: 9:00 - 19:00
          </li>
          <li><i class="dlicon ui-1_email-84"></i>Info@la-studioweb.com</li>
          <li><i class="dlicon tech-2_rotate"></i>(+55) 254. 254. 254</li>
          <li>
            <i class="dlicon ui-1_home-minimal"></i>Helios Tower 75 Tam Trinh
            Hoang - Ha Noi - Viet Nam
          </li>
        </ul>
      </div>
      <div class="social-icon-style mb-25">
        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
        <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
        <a class="behance" href="#"><i class="fa fa-behance"></i></a>
      </div>
      <div class="copyright">
        <p>
          © 2021 <a href="https://hasthemes.com/">Skoig Furniture.</a> All
          rights reserved
        </p>
      </div>
    </div>
  </div>
</div>
<div class="breadcrumb-area section-padding-1">
  <div class="container-fluid">
    <div class="breadcrumb-content text-center">
      <div class="breadcrumb-title">
        <h2>Shop</h2>
      </div>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><span> &gt;</span></li>
        <li class="active">shop</li>
      </ul>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <!-- Search Bar Start -->
  <div class="col-lg-8 d-flex justify-content-center">
    <form
      class="search-form d-flex"
      action="/shop"
      method="get"
      style="
        width: 100%;
        max-width: 600px;
        border: 1px solid #ddd;
        border-radius: 25px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      "
    >
      <input
        type="text"
        name="query"
        class="form-control"
        placeholder="Search for products…"
        style="
          flex: 1;
          padding: 12px 20px;
          font-size: 16px;
          border: none;
          border-radius: 25px 0 0 25px;
          outline: none;
        "
        required
      />
      <button
        class="btn btn-danger"
        type="submit"
        style="border-radius: 0 25px 25px 0; padding: 12px 20px"
      >
        <i class="dlicon ui-1_zoom" style="color: white; font-size: 20px"></i>
      </button>
    </form>
  </div>

  <!-- Search Bar End -->
</div>
<div class="shop-area pt-70 pb-100">
  <div class="container">
    <div class="shop-top-bar">
      <div class="shop-top-bar-left">
        <div class="shop-top-show">
          <span>Showing 1–5 of 39 results</span>
        </div>
        <div class="shop-page-list">
          <ul>
            <li>Show</li>
            <li class="active"><a href="#">12</a></li>
            <li><a href="#">15</a></li>
            <li><a href="#">30</a></li>
          </ul>
        </div>
      </div>
      <div class="shop-top-bar-right">
        <div class="shop-tab nav">
          <a href="#shop-1" class="active" data-bs-toggle="tab"
            ><i class="dlicon ui-2_grid-45"></i
          ></a>
          <a href="#shop-2" data-bs-toggle="tab"
            ><i class="dlicon design_bullet-list-69"></i
          ></a>
        </div>
        <div class="shop-filter ml-50">
          <a class="shop-filter-active" href="#"
            >Filters <i class="fa fa-angle-down angle-down"></i
            ><i class="fa fa-angle-up angle-up"></i
          ></a>
        </div>
        <div class="shop-short-by ml-50">
          <span
            >Sort by <i class="fa fa-angle-down angle-down"></i
            ><i class="fa fa-angle-up angle-up"></i
          ></span>
          <ul>
            <li class="<%= sort === 'default' ? 'active' : '' %>">
              <a href="/shop">Default sorting</a>
            </li>
            <li class="<%= sort === 'popularity' ? 'active' : '' %>">
              <a href="/shop?sort=popularity">popularity</a>
            </li>
            <li class="<%= sort === 'rating' ? 'active' : '' %>">
              <a href="/shop?sort=rating">average rating</a>
            </li>
            <li class="<%= sort === 'latest' ? 'active' : '' %>">
              <a href="/shop?sort=latest">latest</a>
            </li>
            <li class="<%= sort === 'priceAsc' ? 'active' : '' %>">
              <a href="/shop?sort=priceAsc">price: low to high</a>
            </li>
            <li class="<%= sort === 'priceDsc' ? 'active' : '' %>">
              <a href="/shop?sort=priceDsc"> price: high to low</a>
            </li>
            <li class="<%= sort === 'nameAsc' ? 'active' : '' %>">
              <a href="/shop?sort=nameAsc">name: A-Z</a>
            </li>
            <li class="<%= sort === 'nameDsc' ? 'active' : '' %>">
              <a href="/shop?sort=nameDsc">name: Z-A</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="product-filter-wrapper">
      <div class="row">
        <!-- Product Filter -->
        <div class="col-md-3 col-sm-6 col-xs-12 mb-20">
          <div class="product-filter">
            <h5>Price</h5>
            <div class="price-filter">
              <ul>
                <li><a href="/shop?price=0-1500">0-₹1500</a></li>
                <li><a href="/shop?price=1500-2500">₹1500-₹2500</a></li>
                <li><a href="/shop?price=2500-3000">₹2500-₹3000</a></li>
                <li><a href="/shop?price=3000-6000">₹3000-₹6000</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 mb-20">
          <div class="product-filter">
            <h5>Category</h5>
            <div class="price-filter">
              <ul>
                <% categories.forEach(category => { %>
                <li>
                  <a href="/shop?id=<%= category._id %>"
                    ><%= category.name %></a
                  >
                </li>
                <% }) %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content jump-3 pt-30">
      <div id="shop-1" class="tab-pane active">
        <div class="row">
          <% if (product.length > 0) { %> <% for (let i = 0; i < product.length;
          i++) { %>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product-wrap mb-50">
              <div class="product-img default-overlay mb-25">
                <a href="/productDetails?id=<%= product[i].id %>">
                  <% if (product[i].images.length > 0) { %>
                  <img
                    class="default-img"
                    src="/productImages/<%= product[i].images[1] %>"
                    alt=""
                  />
                  <% if (product[i].images.length > 1) { %>
                  <img
                    class="hover-img"
                    src="/productImages/<%= product[i].images[0] %>"
                    alt=""
                  />
                  <% } else { %>
                  <img class="hover-img" src="path/to/placeholder.jpg" alt="" />
                  <% } %> <% } else { %>
                  <img
                    class="default-img"
                    src="path/to/placeholder.jpg"
                    alt=""
                  />
                  <img class="hover-img" src="path/to/placeholder.jpg" alt="" />
                  <% } %>
                </a>
                <div class="product-action product-action-position-1">
                  <a
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    href="#"
                    ><i class="fa fa-eye"></i><span>Quick Shop</span></a
                  >
                  <a title="Add to Wishlist" href="#"
                    ><i class="fa fa-heart"></i><span>Add to Wishlist</span></a
                  >
                  <a class="icon-blod" title="Add to Compare" href="#"
                    ><i class="dlicon arrows-4_compare"></i
                    ><span>Add to Compare</span></a
                  >
                  <a title="Add to Cart" href="#"
                    ><i class="fa fa-shopping-cart"></i
                    ><span>Add to Cart</span></a
                  >
                </div>
              </div>
              <div class="product-content-2 title-font-width-400 text-center">
                <h3>
                  <a href="/productDetails" style="font-weight: bold"
                    ><%= product[i].name %></a
                  >
                </h3>
                <div class="product-price">
                  <span class="new-price">₹ <%= product[i].price %></span>
                </div>
              </div>
            </div>
          </div>
          <% } %> <% } else { %>
          <p>No products available.</p>
          <% } %>

          <div class="pro-pagination-style text-center">
            <ul>
              <% if (totalPages > 1) { %> <% for (let i = 1; i <= totalPages;
              i++) { %>
              <li>
                <a
                  class="<%= currentPage === i ? 'active' : '' %>"
                  href="/shop?page=<%= i %>"
                >
                  <%= i %>
                </a>
              </li>
              <% } %> <% if (currentPage < totalPages) { %>
              <li>
                <a href="/shop?page=<%= currentPage + 1 %>">
                  <i class="dlicon arrows-1_tail-right"></i>
                </a>
              </li>
              <% } %> <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('../layout/footer') %>

<script>
  function SearchProduct() {
    const searchDataValue = inputElement.value.trim();

    if (searchDataValue !== "") {
      showSearchResult();
      debounce(() => {
        console.log(searchDataValue);
        $.ajax({
          url: "/search",
          method: "post",
          data: {
            searchDataValue,
          },
          success: (response) => {
            const searchResultsContainer = document.getElementById(
              "searchResultsContainer"
            );
            searchResultsContainer.innerHTML = "";

            if (response.searchProducts.length > 0) {
              response.searchProducts.forEach((element) => {
                const productContainer = document.createElement("div");
                productContainer.classList.add("product-container");

                const productElement = document.createElement("div");
                productElement.innerHTML = `
                                <a href="/productDetails?id=${element._id}" class="product-link">
                                    <div class="product-row">
                                        <div class="product-image" style="padding-top : 20px">
                                            <img src="/uploads/${element.image[0]}" alt="product">
                                        </div>
                                        <div class="product-info">
                                            <p style="color: white;">${element.name}</p>
                                            <p style="color: white3;">₹${element.offerPrice}</p>
                                        </div>
                                    </div>
                                </a>
                            `;

                productContainer.appendChild(productElement);
                searchResultsContainer.appendChild(productContainer);
              });
              hideNoProductFound();
            } else {
              hideSearchResult();
              showNoProductFound();
            }
          },
        });
      }, 500)();
    } else {
      hideSearchResult();
      hideNoProductFound();
    }
  }
</script>
