<%- include('../layout/header') %>
<style>
    body {
      background-color: #efebebd6; 
    }
  </style>

<!-- search start -->
<div class="search-content-wrap main-search-active">
    <a class="search-close"><i class="dlicon ui-1_simple-remove"></i></a>
    <div class="search-content">
        <p>Start typing and press Enter to search</p>
        <form class="search-form" action="#">
            <input type="text" placeholder="Search">
            <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
        </form>
    </div>
</div>
<!-- mini cart start -->
<div class="sidebar-cart-active">
    <div class="sidebar-cart-all">
      <a class="cart-close" href="#"><i class="dlicon ui-1_simple-remove"></i></a>
      <div class="cart-content">
        <h3>Shopping Cart</h3>
        <ul>
          <% if (cartData && cartData.items && cartData.items.length > 0) { %> 
            <% for (let i = 0; i < cartData.items.length; i++) { %>
              <li class="single-product-cart">
                <div class="cart-img">
                  <a href="#"><img src="/productImages/<%= cartData.items[i].productId.images[1] %>" alt="" /></a>
                </div>
                <div class="cart-title">
                  <h4><a href="#"><%= cartData.items[i].productId.name %></a></h4>
                  <span><%= cartData.items[i].price %></span>
                </div>
                <div class="cart-delete">
                  <a href="#">×</a>
                </div>
              </li>
            <% } %>
          <% } %>
        </ul>
        <div class="cart-total">
        </div>
        <div class="cart-checkout-btn">
          <a class="btn-hover cart-btn-style" href="/cart">view cart</a>
          <a class="no-mrg btn-hover cart-btn-style" href="/checkout">checkout</a>
        </div>
      </div>
    </div>
  </div>
<!-- aside start -->
<div class="header-aside-active">
    <div class="header-aside-wrap">
        <a class="aside-close"><i class="dlicon ui-1_simple-remove"></i></a>
        <div class="header-aside-content">
            <div class="mobile-menu-area">
                <div class="mobile-search">
                    <form class="search-form" action="#">
                        <input type="text" placeholder="Search entire store…">
                        <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap">
                    <!-- mobile menu start -->
                 
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-curr-lang-wrap">
                    <div class="single-mobile-curr-lang">
                        <a class="mobile-language-active" href="#">Language <i class="fa fa-angle-down"></i></a>
                        <div class="lang-curr-dropdown lang-dropdown-active">
                            <ul>
                                <li><a href="#">English (US)</a></li>
                                <li><a href="#">English (UK)</a></li>
                                <li><a href="#">Spanish</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-mobile-curr-lang">
                        <a class="mobile-currency-active" href="#">Currency <i class="fa fa-angle-down"></i></a>
                        <div class="lang-curr-dropdown curr-dropdown-active">
                            <ul>
                                <li><a href="#">USD</a></li>
                                <li><a href="#">EUR</a></li>
                                <li><a href="#">Real</a></li>
                                <li><a href="#">BDT</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-mobile-curr-lang">
                        <a class="mobile-account-active" href="#">My Account <i class="fa fa-angle-down"></i></a>
                        <div class="lang-curr-dropdown account-dropdown-active">
                            <ul>
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Creat Account</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-aside-menu">
                <nav>
                    <ul>
                        <li><a href="#">About Toro</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Collection</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">New Look</a></li>
                    </ul>
                </nav>
            </div>
            <img src="assets/images/icon-img/payments.png" alt="payment">
            <p>Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet fermentum justo dapibus.</p>
            <div class="aside-contact-info">
                <ul>
                    <li><i class="dlicon ui-2_time-clock"></i>Monday - Friday: 9:00 - 19:00</li>
                    <li><i class="dlicon ui-1_email-84"></i>Info@la-studioweb.com</li>
                    <li><i class="dlicon tech-2_rotate"></i>(+55) 254. 254. 254</li>
                    <li><i class="dlicon ui-1_home-minimal"></i>Helios Tower 75 Tam Trinh Hoang - Ha Noi - Viet Nam</li>
                </ul>
            </div>
            <div class="social-icon-style mb-25">
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                <a class="behance" href="#"><i class="fa fa-behance"></i></a>
            </div>
            <div class="copyright">
                <p>© 2021 <a href="https://hasthemes.com/">Toro.</a> All rights reserved</p>
            </div>
        </div>
    </div>
</div>
<div class="breadcrumb-area ">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <div class="breadcrumb-title">
                <h2>Wishlist</h2>
            </div>
            <ul>
                <li>
                    <a href="/">Home </a>
                </li>
                <li><span> &gt; </span></li>
                <li class="active"> Wishlist </li>
            </ul>
        </div>
    </div>
</div>
<div class="wishlist-main-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-content table-responsive wishlist-table-content">


                                <div class="d-flex justify-content-center">
                                <div class="wishlist-container col-lg-7">
                                    <% if (wishlist && wishlist.product && wishlist.product.length > 0) { %>
                                      <% wishlist.product.forEach((product) => { %>
                                        <div class="wishlist-card">
                                          <div class="wishlist-card-remove">
                                            <a href="/deleteWishlist?id=<%= product._id %>" class="wishlist-remove">
                                              <i class="dlicon ui-1_simple-remove"></i>
                                            </a>
                                          </div>
                                          <div class="wishlist-card-img">
                                            <a href="#"><img src="productImages/<%= product.images[0] %>" alt=""></a>
                                          </div>
                                          <div class="wishlist-card-details">
                                            <a href="#" class="wishlist-name"><%= product.name %></a>
                                            <div class="wishlist-stock">
                                              <span>remaining stocks : <%= product.stock %>. pieces left</span>
                                            </div>
                                            <div class="wishlist-price">
                                              <span class="amount">₹ <%= product.price %></span>
                                            </div>
                                          </div>
                                          <div class="wishlist-card-action">
                                            <a href="/addCart?id=<%= product._id %>" class="wishlist-cart">Add to cart</a>
                                          </div>
                                        </div>
                                      <% }) %>
                                    <% } else { %>
                                      <div class="empty-wishlist">
                                        <h3>Your wish list is empty</h3>
                                      </div>
                                    <% } %>
                                  </div>
                                </div>
                                  
                                  
                                  
                                  



                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../layout/footer') %>